body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}

.network-wrapper {
  display: inline-block;
}

#cy {
  height: 600px;
  width: 600px;
  border: 1px solid gray;
}

.slider-wrapper {
  margin: 1em;
}

#cutoff {
  width: 2.2em;
  border: 0;
  font-weight: bold;
}

#slider {
  margin-left: 1em;
  width: 300px;
  display: inline-block;
}
