.subtitle-wrap {
  margin-bottom: 10px;
}

.subtitle-wrap h2 {
  margin: 0;
}

.subtitle-wrap p {
  margin: 0;
  line-height: 1.3em;
}

.network-wrapper {
  float: left;
  margin-right: 20px;
  position: relative;
}

#cy {
  height: 600px;
  width: 600px;
  border: 1px solid gray;
}

.slider-wrapper {
  margin: 1em;
}

#cutoff {
  width: 2.2em;
  border: 0;
  font-weight: bold;
}

#slider {
  margin-left: 1em;
  width: 300px;
  display: inline-block;
}

#content .legend {
  border: 0;
}

#content .legend tr:nth-child(even) {
  background-color: inherit;
}

#content .legend td {
  padding: 5px;
  border-right: 0;
}

.loading-message {
  position: absolute;
  left: 200px;
  top: 100px;
  font-size: 48px;
  font-weight: bold;
}

.powered-by {
  clear: left;
  float: right;
  font-style: italic;
  margin-top: 2em;
}
