.subtitle-wrap {
  margin-bottom: 10px;
}

.subtitle-wrap h2 {
  margin: 0;
}

.subtitle-wrap p {
  margin: 0;
  line-height: 1.3em;
}

.ui-controls-wrapper {
  width: 100%;
}

.network-wrapper {
  float: left;
  margin-right: 20px;
  position: relative;
}

#cy {
  height: 600px;
  width: 600px;
  border: 1px solid gray;
}

.slider-wrapper {
  margin: 1em;
}

#content table {
  border: 0;
}

#content table tr:nth-child(even) {
  background-color: inherit;
}

#content table td {
  border-right: 0;
}

#content .legend td {
  padding: 5px;
}

#content .legend td:first-child {
  text-align: center;
}

#content .legend td:first-child img {
  border-width: 0px;
  vertical-align: middle;
}

.loading-message {
  position: absolute;
  left: 200px;
  top: 100px;
  font-size: 48px;
  font-weight: bold;
}

.powered-by {
  clear: left;
  float: right;
  font-style: italic;
  margin-top: 2em;
}

/* ------------------------------------------------------------------------- */

.ui-controls td {
  padding: 3px;
}

td.ui-label {
  float: right;
}

.slider-wrapper, .select-wrapper {
  margin: 1em;
}

.slider-wrapper span {
  width: 3em;
  border: 0;
  font-weight: bold;
}

.slider-div, select {
  width: 320px;
  display: inline-block;
}

/* ------------------------------------------------------------------------- */

#select-menu-label {
  margin-top: 10px;  /* only way I could get #select-menu-label to look
                        vertically centered */
  /*
    vertical-align: middle !important;
  */ /* does not work! */
}

/* ------------------------------------------------------------------------- */
